html, body {
    margin: auto;
    width: 100%;
    height: 100%;
    color: white;
    font-family: 'Share Tech', sans-serif;
    background-image: url("/assets/images/wallpaper.jpg");
    background-size: contain;
}

.hide {
    visibility: hidden;
}

.spinner {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: 10rem;
    background-repeat: no-repeat;
    backdrop-filter: blur(8px);
}

.position_wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

.position_wrapper > img {
    position: absolute;
    width: 20rem;
    height: 20rem;
    left: calc(50% - 10rem);
    top: calc(50% - 10rem);
}

.background_overlay {
    position: absolute;
    left: 0;
    width: 100%;
    height: fit-content;
    min-height: 100%;
    background-color: rgba(75, 75, 200, 0.3);
    backdrop-filter: blur(5px);
}

.backgroundLayer {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.backgroundRandomizer {
    position: absolute;
    left: -6rem;
    top: -6rem;
    width: 6rem;
    height: 6rem;
    border-radius: 100%;
    backdrop-filter: blur(2px);
    background-color: rgba(75, 75, 200, 0.1);
}

.content_wrapper {
    margin: auto;
    width: 80%;
}

.header {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    width: 100%;
    height: fit-content;
    text-decoration: underline;
}

h1, h2 {
    font-size: 40px;
    text-decoration: underline;
}

.content {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    font-size: 3em;
}

.consoles {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    
    gap: 2rem;

    max-width: 50rem;
    height: fit-content;
}

.consoleFlex {
    display: flex;
    flex-basis: 18%;
    align-items: center;
    justify-content: center;
    height: 5rem;
    width: 5rem;
    border: 2px solid white;
    border-radius: 20px;
    background-color: rgba(75, 75, 200, 0.3);
    padding: 0.5rem;
    cursor: pointer;
    filter: brightness(60%);
}

.consoleFlex > img {
    max-width: 90%;
    max-height: 90%;
}

.games {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex: 1 1 0px;
    padding-bottom: 2rem;
    gap: 2rem;
    width: 100%;
}

.gameFlex {
    display: flex;
    flex-direction: column;

    text-align: center;
    align-items: center;
    justify-content: center;

    height: 15rem;
    width: 10rem;

    border: 2px solid white;
    border-radius: 20px;
    background-color: rgba(75, 75, 200, 0.3);
    padding: 0.5rem;

    font-size: 12px;
    cursor: pointer;

    filter: brightness(40%);
}

.gameFlex > img {
    max-width: 70%;
    max-height: 70%;
}


form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

form > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}

form > div {
    display: none;
}

form > div:last-child {
    display: block;
}

button {
    width: 10rem;
    height: 2rem;
    color: white;
    background-color: rgba(128, 128, 128, 0.5);
    outline: 2px solid lightskyblue;
    cursor: pointer;
}

form > div:last-child {
    height: 5rem;
}

form > div > label {
    flex: 0 0 30rem;
}

select {
    color: white;
    height: 2rem;
    background: transparent;
    outline: none;
    border: none;
    border-bottom: 2px solid white;
    font-size: 0.3em;
}

option {
    background-color: black;
}
