html, body {
    margin: auto;
    width: 100%
    height: 100%;
    color: white;
    font-family: 'Share Tech', sans-serif;
    background-image: url("/assets/images/tech.jpg");
}

.background_overlay {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(75, 75, 200, 0.3);
    backdrop-filter: blur(3px);
}

.content_wrapper {
    margin: auto;
    width: calc(100% - 4rem);
}

.header {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;

    width: 100%;
    height: 10rem;

    text-decoration: underline;
}

h1 {
    font-size: 6em;
}

.content {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 3em;
    padding-top: 10rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form > div {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

form > div > label {
    width: 35rem;
}

form > div > select {
    color: white;
    width: fit-content;
    min-width: 20rem;
    font-size: 0.5em;
    background-color: rgba(0, 0, 0, 0);
    outline: none;
    border: none;
}

form > div > select > option {
    background-color: black;
}

form > button {
    width: 50rem;
    height: 3rem;
    font-size: 0.5em;
}
